# MPLABX Project Ignored Artifacts

funclist
Makefile-*
memoryfile.xml
MPLABXLog.*
nb-configuration.xml
nbactions.xml
Package-*.bash

*.d
*.cmf
*.elf
*.hex
*.hxl
*.lpp
*.lst
*.map
*.mum
*.o
*.obj
*.obj.dmp
*.out
*.p1
*.pre
*.rlf
*.sdb
*.sym
*.traceinfo
*.zip

**/build/**
**/debug/**
**/disassembly/**
**/html/**
**/nbbuild/**
**/nbdist/**
**/nbproject/private/**
#**/dist/**
/brook4xc8.X/dist/default/
/examples/brook4xc8-lcd.X/nbproject/private/
/examples/brook4xc8-lcd.X/build/default/
/examples/brook4xc8-lcd.X/dist/default/
/examples/brook4xc8-switch.X/nbproject/private/
/examples/brook4xc8-switch.X/build/default/
/examples/brook4xc8-switch.X/dist/default/
/examples/brook4xc8-eeprom.X/nbproject/private/
/examples/brook4xc8-eeprom.X/dist/default/